.app-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 1300px;
}


body::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(106, 161, 171, 0.41);
  border-radius: 0.5em;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
